<nav class="navbar navbar-inverse" data-ng-init="init()">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#/home">Store</a> </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active: navigation.$location.path() == '/home'}"><a href="#/home">Home</a></li>
        <li ng-class="{active: navigation.$location.path() == '/contact'}"><a href="#/contact">Contact</a></li>
        <li ng-class="{active: navigation.$location.path() == '/catalog'}"><a href="#/catalog">Catalog</a></li>
        <li ng-class="{active: navigation.$location.path() == '/about'}"><a href="#/about">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="navigation.isLogin"><button class="btn btn-primary" ng-click="login($event)">Login</button></li>
        <li class="dropdown" ng-hide="!navigation.isLogin">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{navigation.userProfile['email']}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#" ng-click="switchUser($event)">Switch User</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" ng-click="logout($event)">Logout</a></li>
          </ul>
        </li>
      </ul>



    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>